<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>회원 목록</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Real Name</th>
            <th>Display Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Status</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="user : ${members}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.realName}"></td>
            <td th:text="${user.displayName}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.phoneNumber}"></td>
            <td th:text="${user.status}"></td>
            <td th:text="${user.role}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>