<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>회원 목록</title>
</head>
<body>
<h1>회원 목록</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Real Name</th>
        <th>Display Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Status</th>
        <th>Role</th>
        <th>Created At</th>
        <th>Updated At</th>
        <th>Deleted At</th>
        <th>Deleted Reason</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${members}">
        <td th:text="${user.id}"></td>
        <td>
            <a th:href="@{/members/{id}(id=${user.id})}" th:text="${user.username}"></a>
        </td>
        <td th:text="${user.realName}"></td>
        <td th:text="${user.displayName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.phoneNumber}"></td>
        <td th:text="${user.status}"></td>
        <td th:text="${user.role}"></td>
        <td th:text="${user.createdAt}"></td>
        <td th:text="${user.updatedAt}"></td>
        <td th:text="${user.deletedAt}"></td>
        <td th:text="${user.deletedReason}"></td>
    </tr>
    </tbody>
</table>

<!-- 페이지네이션 -->
<div>
    <ul>
        <!-- 이전 페이지 버튼 -->
        <li th:if="${currentPage > 0}">
            <a th:href="@{/members(page=${currentPage - 1}, size=${10})}">Previous</a>
        </li>

        <!-- 페이지 번호 목록 -->
        <li th:each="pageNum : ${pageNumbers}">
            <a th:href="@{/members(page=${pageNum - 1}, size=${10})}"
               th:text="${pageNum}"
               th:classappend="${currentPage + 1 == pageNum} ? 'active' : ''"></a>
        </li>

        <!-- 다음 페이지 버튼 -->
        <li th:if="${currentPage < totalPages - 1}">
            <a th:href="@{/members(page=${currentPage + 1}, size=${10})}">Next</a>
        </li>
    </ul>
</div>
</body>
</html>
